@using Bulgarian_Apparel.Web.Areas.Admin.Models
@model IEnumerable<DeleteProductViewModel>

<table style="width:100%">
    <tr>
        <th>Product Guid</th>
        <th>Product Name</th>
        <th>Product Brand</th>
        <th></th>
    </tr>
    @foreach (var product in Model)
    {

        <tr id="@product.Id">
            <td id="product-id">@product.Id</td>
            <td id="product-name">@product.Name</td>
            <td id="product-supplier">@product.Supplier</td>
            <td id="product-removal">
                @Ajax.ActionLink(
                   "Remove product",
                   "RemoveProductById",
                   new { id = product.Id },
                   new AjaxOptions()
                   {
                       UpdateTargetId = "log",
                       LoadingElementId = "log2",
                       HttpMethod = "GET",
                       InsertionMode = InsertionMode.Replace,
                       Confirm = "Are you sure you want to delete this product from the catalogue?"
                   },
                   new { @class = "btn btn-primary" })
            </td>
        </tr>
    }
</table>
