@model Bulgarian_Apparel.Data.Models.ShoppingCart
@Styles.Render("~/Content/Styles/jquery.dataTables.min.css")
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products in cart</h2>

<table id="cart-details" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th id="product-id">Id</th>
            <th id="product-size">Size</th>
            <th id="product-color">Color</th>
            <th id="product-price">Price</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ShoppingCartProducts.Count > 0)
        {
            foreach (var product in Model.ShoppingCartProducts.ToList())
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.ProductSize</td>
                    <td>@product.ProductColor</td>
                    <td>@product.ProductPrice</td>
                </tr>
            }
        }
    </tbody>
</table>

<button>@Html.ActionLink("Proceed to checkout", "CheckoutForm", "Cart")</button>
<button>@Html.ActionLink("Empty cart", "Empty", "Cart")</button>

@section scripts{
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#cart-details').DataTable();
    });
</script>
}