@using Bulgarian_Apparel.Web.Models.Products
@model CatalogueViewModel

@Styles.Render("~/Content/Styles/advanced.css") 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<button class="category-button" data-filter="all">All</button>
@foreach (var category in Model.Categories)
{
    <button class="category-button" data-filter="@category.CategoryName.ToLower()">@category.CategoryName</button>
}
<hr />
<div id="container">
    @foreach (var item in Model.Products)
    {
        <div class="item filter @item.Category.CategoryName.ToLower()">
            <img src="@item.ImageResources[1]" width="640" height="480" alt="@item.Name" />
              <div id="product-name">
                @item.Name
                <p>$ <span id="product-price">@item.Price</span></p>
            </div>
            <button class="btn btn-primary view" data-id="@item.ProductId" data-name="@item.Name" data-summary="@item.Description" data-price="@item.Price" data-image="@item.ImageResources[2]" data-category="@item.Category.CategoryName">View product</button>
            <button class="btn btn-primary">Add to wishlist</button>
            <button class="btn btn-primary" onclick="window.location.pathname='@Url.Action("ViewProduct", "Products", new { id = item.ProductId })'">Details</button>
        </div>
    }

</div>
@section scripts{   
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.wrecker.min.js"></script>
<script src="~/Scripts/category-filter.js"></script>
    <script type="text/javascript"> $('.category-button').categoryFilter();
        $("#container").wrecker({
            itemSelector: ".item",
            maxColumns: 4
        });  </script>
<script type="text/javascript">

    $('.category-button').click(function () {
        var filter = $(this).data("filter");
        console.log(filter);
        var count = $("." + filter).length;
        console.log(count)

        $("#container").wrecker({
            itemSelector: ".item",
            maxColumns: count
        });  

    });

</script>
}