@model List<Bulgarian_Apparel.Web.Models.Products.ProductViewModel>

@Styles.Render("~/Content/Styles/advanced.css")
@Styles.Render("~/Content/Styles/jBox.css")

<hr />
Category
Men's clothing > Shirts > T-shirts 

<hr/>


<div id="container">
    @foreach (var item in Model)
    {
        <div class="item">
            <img src="@item.ImageResources[1]" width="640" height="480" alt="" />
            <div id="product-name">
                @item.Name
                <p>$ <span id="product-price">@item.Price</span></p>
            </div>
            <button class="btn btn-primary view" data-id="@item.ProductId" data-name="@item.Name" data-summary="@item.Description" data-price="@item.Price" data-image="@item.ImageResources[2]">View product</button>
            <button class="btn btn-primary">Add to wishlist</button>
            <button class="btn btn-primary" onclick="window.location.pathname='@Url.Action("ViewProduct", "Products", new { id = item.ProductId })'">Details</button>
        </div>
    }
</div>

@section scripts{    
    
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script src="~/Scripts/jquery.wrecker.min.js"></script>
<script src="~/Scripts/jBox.js"></script>
<script type="text/javascript">
      

        $("#container").wrecker({
            itemSelector: ".item",
            maxColumns: 3
        });
       
</script>
}