@using Bulgarian_Apparel.Web.Models.Orders
@model List<OrderItemDetailsViewModel>
@Styles.Render("~/Content/Styles/jquery.dataTables.min.css")
@{
    ViewBag.Title = "MyOrdersDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Orders</h1>

<table id="orders-details" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th id="order-item-id">Id</th>
            <th id="order-item-name">Name</th>
            <th id="order-item-brand">Brand</th>
            <th id="order-item-size">Size</th>
            <th id="order-item-color">Color</th>
            <th id="order-item-price">Payment</th>
            <th id="order-item-address">Shipping Address</th>
            <th id="order-item-order-date">Ordered on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderId</td>
                <td>@item.ProductName</td>
                <td>@item.Brand</td>
                <td>@item.Size</td>
                <td>@item.Color</td>
                <td>@item.Price</td>
                <td>@item.ShippingAddress</td>
                <td>@item.OrderedOn</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('#orders-details').DataTable();
    });
    </script>
}