@using Bulgarian_Apparel.Web.Models.Users
@model ICollection<UserViewModel>
@{
    ViewBag.Title = "Users - Bulgarian Apparel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row jumbotron">
    <h2>Users</h2>
    @foreach (var user in Model)
    {
        <div class="col-md-4">
            @Html.ActionLink(user.UserName, "Details", "Users", new { area = "", id = user.Id }, null)
            <br />
            @Html.ActionLink("Remove Admin", "RemoveAdmin", new { id = user.Id }, new { @class = "btn btn-danger" })

            @Html.ActionLink("Make Admin", "AddAdmin", new { id = user.Id }, new { @class = "btn btn-success" })

            @Html.ActionLink("Delete", "DeleteUser", new { id = user.Id }, new { @class = "btn btn-danger" })
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to Admin Panel", "Index", "Panel", null, new { @class = "btn btn-default" })
</div>